<!DOCTYPE html>
<html>
<head>
  <title>morebettergood</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="wrapper">
  <div class="heading">
  </div>

  <div class="content">

  <% if user_signed_in? %>
      <%= link_to "sign out",destroy_user_session_path, method: :delete   %>
  <% end %>

  <br>
    <%= yield %>
  </div>

  <div class="footing">
  </div>
  </div>
</body>
</html>
